.navbar-style{
    background-color: rgba(47, 154, 248, 0.981);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   
}

.navbar-brand p{
    color: white;
}

.logo-text{
    margin: -30px 0px 10px -15px;   
}


.img-style{
    width: 100px;
    height: 100px;
    margin-left: -120px;
    margin-top: -5px;
}

.ml-auto{
    margin-right: -100px;
    font-size: 20px;
    
}